@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  src: local(Raleway),local(Raleway-Regular),url(//fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISw.eot?#) format("eot"),url(//fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format("woff2"),url(//fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISQ.woff) format("woff");
}
@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  src: local("Raleway Medium"),local(Raleway-Medium),url(//fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwN4rWqZPBA.eot?#) format("eot"),url(//fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwN4rWqZPAA.woff2) format("woff2"),url(//fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwN4rWqZPBg.woff) format("woff");
}
:root {
  --outer-bg: #A0CAE5;
  --inner_bg-font: #FFF;
  --input-border-color: #4585AD;
  --submit-bg: #50AD5F;
}
body {
  font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
  background: #A0CAE5;
  background: var(--outer-bg);
  text-align: center;
}
#form-outer {
  background: #FFF;
  background: var(--inner_bg-font);
  margin: 0 auto;
  border-radius: 5px;
  width: 75%;
  max-width: 900px;
  padding: 10px;
  padding-top: 20px;
}
.labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}
.rightTab {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}
.input-field {
  height: 20px;
  width: 80%;
  padding: 5px;
  margin: 10px;
  border: 1px solid #4585AD;
  border: 1px solid var(--input-border-color);
  border-radius: 3px;
}
.userRatings,
input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}
#submit {
  background: #50AD5F;
  background: var(--submit-bg);
  border-radius: 5px;
  color: #FFF;
  color: var(--inner_bg-font);
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}
.dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;
  margin-top: 15px;
  border: 1px solid #4585AD;
  border: 1px solid var(--input-border-color);
  border-radius: 3px;
}
.radio, .checkbox {
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}
textarea.input-field {
  height: 50px;
  resize: vertical;
}
ul {
  list-style: none;
}
sup {
  font-size: 1em;
  color: red;
}
