body {
  background: lightseagreen;
  font-family: 'Raleway', system-ui;
  text-align: center;
}

#form-container {
  background: white;
  border-radius: 5px;
  margin: 0 auto;
  padding: .8em;
  padding-top: 1.6em;
  width: 75%;
}

fieldset {
  border-radius: 5px;
  margin: 1.5em 0;
  padding: 1.5em 0;
}

.labels {
  display: inline-block;
  margin-top: .4em;
  padding: .5em;
  text-align: right;
  vertical-align: top;
  width: 40%;
}

.inputs {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 48%;
}

.input-field {
  border: 1px solid #4585AD;
  border-radius: 3px;
  height: 1.5em;
  margin: .4em;
  padding: .2em;
  width: 80%;
}

.devClass,
input[type="checkbox"] {
  float: left;
  margin-right: .2em;
}

#submit {
  background: #50AD5F;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  height: 40px;
  margin: 1em;
  width: 96px;
}

.dropdown {
  border: 1px solid #4585AD;
  border-radius: 3px;
  height: 35px;
  margin: .4em;
  margin-top: 15px;
  padding: .2em;
  width: 140px;
}

.radio,
.checkbox {
  padding-bottom: .4em;
  position: relative;
}

textarea.input-field {
  height: 50px;
  resize: vertical;
}

ul {
  list-style: none;
  padding-left: 0;
}

span::before {
  color: #FF0000;
  content: '*';
  font-size: 1.5em;
  line-height: .5em;
  vertical-align: bottom;
}