:root {
  --outer-bg: #A0CAE5;
  --inner_bg-font: #FFF;
  --input-border-color: #4585AD;
  --submit-bg: #50AD5F;
  --required: #FF0000;
}
body {
  font-family: 'Raleway', system-ui;
  background: var(--outer-bg);
  text-align: center;
}

#form-outer {
  background: var(--inner_bg-font);
  margin: 0 auto;
  border-radius: 5px;
  width: 75%;
  max-width: 900px;
  padding: 10px;
  padding-top: 20px;
}

.labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}
.rightTab {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}

.input-field {
  height: 20px;
  width: 80%;
  padding: 5px;
  margin: 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 3px;
}

.userRatings,
input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}

#submit {
  background: var(--submit-bg);
  border-radius: 5px;
  color: var(--inner_bg-font);
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}

.dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;
  margin-top: 15px;
  border: 1px solid var(--input-border-color);
  border-radius: 3px;
}

.radio, .checkbox {
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}

textarea.input-field {
  height: 50px;
  resize: vertical;
}

ul {
  list-style: none;
}

span::before {
  content: '*';
  color: var(--required);
  font-size: 1.5em;
  line-height: 0.5em;
  vertical-align: bottom;
}